<div id="project_description">
Project Description
</div>
<div id="para">
	This application is a web application that collects and stores the name, office number, department, and email address
	for department professors at the Towson University. It was constructed by Jimmy Bowens for Lab 2 of the Advanced Web Development
	course being taught at the Towson University during the Fall 2014 semester.<a href="/list.html">Click here</a> to see the records in the database or click "Show Records" at the top of the page.
</div>